Daaa/Daaa/Daaa/Connected Services/WebServ/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://101.37.245.109:233/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://101.37.245.109:233/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://101.37.245.109:233/Service.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetYZM_InputMessage">
    <wsdl:part name="parameters" element="tns:GetYZM" />
  </wsdl:message>
  <wsdl:message name="IService_GetYZM_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetYZMResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGoodIntoDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGoodIntoDataBase" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGoodIntoDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGoodIntoDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertVRIntoDataBase_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertVRIntoDataBase" />
  </wsdl:message>
  <wsdl:message name="IService_InsertVRIntoDataBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertVRIntoDataBaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_VersionUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:VersionUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_VersionUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IService_SetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetLatestVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersion" />
  </wsdl:message>
  <wsdl:message name="IService_GetLatestVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLatestVersionResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetFolderNum_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderNum" />
  </wsdl:message>
  <wsdl:message name="IService_GetFolderNum_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFolderNumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetYZM">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetYZM" message="tns:IService_GetYZM_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetYZMResponse" message="tns:IService_GetYZM_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGoodIntoDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertGoodIntoDataBase" message="tns:IService_InsertGoodIntoDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertGoodIntoDataBaseResponse" message="tns:IService_InsertGoodIntoDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertVRIntoDataBase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertVRIntoDataBase" message="tns:IService_InsertVRIntoDataBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertVRIntoDataBaseResponse" message="tns:IService_InsertVRIntoDataBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VersionUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/VersionUpdate" message="tns:IService_VersionUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/VersionUpdateResponse" message="tns:IService_VersionUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SetLatestVersion" message="tns:IService_SetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SetLatestVersionResponse" message="tns:IService_SetLatestVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLatestVersion" message="tns:IService_GetLatestVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLatestVersionResponse" message="tns:IService_GetLatestVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFolderNum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetFolderNum" message="tns:IService_GetFolderNum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetFolderNumResponse" message="tns:IService_GetFolderNum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetYZM">
      <soap:operation soapAction="http://tempuri.org/IService/GetYZM" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGoodIntoDataBase">
      <soap:operation soapAction="http://tempuri.org/IService/InsertGoodIntoDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertVRIntoDataBase">
      <soap:operation soapAction="http://tempuri.org/IService/InsertVRIntoDataBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VersionUpdate">
      <soap:operation soapAction="http://tempuri.org/IService/VersionUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IService/SetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLatestVersion">
      <soap:operation soapAction="http://tempuri.org/IService/GetLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFolderNum">
      <soap:operation soapAction="http://tempuri.org/IService/GetFolderNum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://101.37.245.109:233/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>